VITE_API_BASE_URL=http://localhost:5000/api

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCTt_z-IIgxDfTbCBn4rnN_kgK8-4SS14w
VITE_FIREBASE_AUTH_DOMAIN=aescion-job-portal.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=aescion-job-portal
VITE_FIREBASE_STORAGE_BUCKET=aescion-job-portal.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1084293151023
VITE_FIREBASE_APP_ID=1:1084293151023:web:8d212abb0c82861c99c9da
VITE_FIREBASE_MEASUREMENT_ID=G-GPM2XQEYJV
